.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centre le contenu de la modal */
    position: fixed; /* Place la modal au-dessus de tout */
    top: 0;
    left: 0;
    width: 100vw; /* Assure que la modal couvre toute la largeur de la fenêtre */
    height: 100vh; /* Assure que la modal couvre toute la hauteur de la fenêtre */
    z-index: 2000; /* Plus élevé que le header pour apparaître par-dessus */
    background-color: rgba(0, 0, 0, 0.444); /* Fond semi-transparent */
}


.Notification {
    width: 40%;
    margin-top: 30px;
    box-sizing: border-box;
}

.Notification.Error p{
    background-color: rgba(255,0,15,0.24);
    border-color: #D70000;
}
.Notification p{
    box-sizing: border-box;
    width: 100%;
    padding: 20px 50px;
    background-color: #F9F3EE;
    border: solid 2px #D9A963;
}

.Form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../../images/backround.png");
    width: 35%;
    margin: auto;
    padding: 50px;
    align-items: center;
    margin-block: 50px;
    border-radius: 30px;
    border: 4px solid #D0BF67;
    box-shadow: 2px 8px 10px rgb(62, 61, 61);
}

.Form label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 5%;
}

.Form input[type="file"]{
    display: none;
}

.Form img {
    width: 83px;
    height: 83px;
    object-fit: cover;
    object-position: center;
}

.Form h2 {
    color: #D0BF67;
    padding-bottom: 10%;
}

.Form label p {
    color: #D0BF67;
}

.Form input {
    height: 42px;
    width: 56%;
    font-size: 16px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    border-color: #D0BF67;
    padding-inline: 2%;
}

.Option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    color: #D0BF67;
}

.Option button {
    font-family: 'Itim', serif;
    background: none;
    border: none;
    color: #D0BF67;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.Submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Validate {
    display: flex;
    justify-content: center;
    background-color: #e8d8a0;
    background: radial-gradient(circle, #c4ab5b 0%, #D0BF67 34%, #D2C675 79%, #e8d8a0 100%);
    border: none;
    color: black;
    padding: 10px ;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 32px;
    font-family: 'Itim', serif;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 11rem;
    align-items: center;
    box-shadow: 
        4px 4px 8px rgba(0, 0, 0, 0.6),  /* Drop shadow */
        inset -4px -4px 8px rgba(0, 0, 0, 0.6); /* Inner shadow */
}

.Validate:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    box-shadow: none;
}

.Cancel {
    display: flex;
    justify-content: center;
    background-color: #D9D9D9;
    background: radial-gradient(circle, #737373 0%, #959595 40%, #A8A8A8 59%, #B9B9B9 78%, #D9D9D9 100%);
    border: none;
    color: black;
    padding: 10px ;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 32px;
    font-family: 'Itim', serif;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 11rem;
    align-items: center;
    box-shadow: 
        4px 4px 8px rgba(0, 0, 0, 0.6),  /* Drop shadow */
        inset -4px -4px 8px rgba(0, 0, 0, 0.6); /* Inner shadow */
}

.honeypot {
    position: absolute;
    left: -9999px;
    top: -9999px;
    opacity: 0;
    height: 0;
    width: 0;
    pointer-events: none;
  }
  