.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: auto;
}

.modalContent {
  background-image: url('../../images/backround.jpg');
  border-radius: 30px;
  padding: 20px;
  max-width: 600px;
  width: 90%;
  border: 4px solid #d0bf67;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  color: #d0bf67;
  font-family: 'Itim', cursive;
}

.modalTitle {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formField textarea {
  width: 100%;
  height: 120px;
  border-radius: 20px;
  border: 1px solid #d0bf67;
  padding: 10px;
  margin-top: 10px;
  background-color: #1f1b2e;
  color: #d0bf67;
  resize: vertical;
  font-family: 'Itim', cursive;
  font-size: 1rem;
}

.errorText {
  color: #ff4c4c;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.toolsRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.buttonRow {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cancelButton,
.submitButton,
.toolButton {
  padding: 10px 20px;
  border-radius: 20px;
  background: radial-gradient(circle, #c4ab5b 0%, #d0bf67 34%, #d2c675 79%, #e8d8a0 100%);
  font-size: 1rem;
  cursor: pointer;
  font-family: 'Itim', cursive;
  border: none;
  box-shadow:
    4px 4px 8px rgba(0, 0, 0, 0.6),
    inset -4px -4px 8px rgba(0, 0, 0, 0.6);
}

.toolButton {
  padding: 5px 20px;
}

.cancelButton {
  background: radial-gradient(
    circle,
    #737373 0%,
    #959595 40%,
    #a8a8a8 59%,
    #b9b9b9 78%,
    #d9d9d9 100%
  );
  color: black;
}

.submitButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
