.LastBook {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #e8d8a0;
  height: 264px;

  width: 90%;
  margin-inline: auto;
  border-radius: 15px;
  border: 2px solid #a5a5a4;
  box-shadow:
    0 0 30px rgba(98, 98, 98, 0.8),
    inset 0 0 6px 2px #d9d9d9;
  padding: 30px;
  overflow: hidden;
}

.List {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.List::-webkit-scrollbar {
  display: none;
}

.NavButton {
  font-size: 2.5rem;
  background: none;
  border: none;
  color: #555;
  cursor: pointer;
  padding: 0 1rem;
  z-index: 2;
  transition: color 0.3s ease;
}
.NavButton:hover {
  color: #222;
}
