.BookDisplay{
    display: flex;
    text-decoration: none;
    color: inherit;
    max-width: 360px;
    width: 80%;
    align-items: center;
}

.BookDisplay article {
    display: flex;
    align-items: center;
    margin-top: 42px;
    margin-bottom: 42px;
}

.BookDisplay img {
    border-radius: 5px;
}

.BookDisplay h2 {
    font-size: 18px;
    font-weight: 700;
    font-family: "Libre Baskerville", serif;
    margin-bottom: 10px ;
}

.BookImage {
    width: 206px;
    height: 260px;
    object-fit: contain;
    object-position: center;
    background-color: transparent;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }  

.BookDisplay h3 {
    font-size: 18px;
    font-weight: 700;
    font-family: "Libre Baskerville", serif;
    margin-bottom: 10px ;
}

.BookDisplay p {
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    color: #796157;
    text-align: justify;
    margin-bottom: 10px ;
}

.full {
    color: #D9A963;
    font-size: 23px;
}

.empty {
    color : rgba(98, 98, 98, 0.8);
    font-size: 23px;
}

.BookInfo {
    display: flex;
    text-align: center;
    flex: 1;
    flex-direction: column;
}

.Rating {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-bottom: 10px;
  }

  .SummaryContainer {
    margin-top: 0.5em;
  }
  
  .Summary {
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  
  .Collapsed {
    max-height: 4em;
    white-space: normal;
    text-overflow: ellipsis;
  }
  
  .Expanded {
    max-height: 1000px;
  }
  
  .ToggleButton {
    display: flex;
    justify-content: center;
    background: radial-gradient(circle, #c4ab5b 0%, #D0BF67 34%, #D2C675 79%, #e8d8a0 100%);
    border: none;
    padding: 6px ;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    border-radius: 32px;
    font-family: 'Itim', serif;
    width: 11rem;
    margin: auto;
    align-items: center;
    box-shadow: 
        4px 4px 8px rgba(0, 0, 0, 0.6),
        inset -4px -4px 8px rgba(0, 0, 0, 0.6);
  }  
  
@media all and (max-width: 600px) {
    .BookDisplay img {
        width: 50%;
    }
}