.Header {
  font-family: 'Itim', serif;
  background-image: url('../../images/backround.png');
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 200px;
  border-bottom: 4px solid #e8d8a0;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  margin-right: 3rem;
}

.logo {
  width: 150px;
}

.Header button img {
  width: 24px;
  padding-left: 8px;
}

.userName {
  font-size: 20px;
}

.Header ul {
  display: flex;
  align-items: center;
}

.Header ul li {
  margin-inline: 16px;
  list-style-type: none;
}

.Header ul li a {
  color: #e8d8a0;
  font-size: 18px;
  text-decoration: none;
  white-space: nowrap;
}

.Button {
  display: flex;
  justify-content: center;
  background: radial-gradient(circle, #c4ab5b 0%, #d0bf67 34%, #d2c675 79%, #e8d8a0 100%);
  border: none;
  color: black;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 32px;
  font-family: 'Itim', serif;
  width: 11rem;
  align-items: center;
  box-shadow:
    4px 4px 8px rgba(0, 0, 0, 0.6),
    inset -4px -4px 8px rgba(0, 0, 0, 0.6);
}

.login_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_menu button {
  margin-bottom: 10px;
  margin-top: 10px;
}

.navBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 4%;
}

.searchBar {
  display: flex;
  flex-direction: column;
  background-color: #cbcbcb;
  border-radius: 32px;
  border: 2px solid #d0bf67;
  height: 2.4rem;
  width: 25rem;
}

.searchBar button {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--primary-color);
  border: none;
  padding: 15px;
  box-shadow: inset -1px 1px 8px rgba(0, 0, 0, 0.6);
}

.searchBar .inputSearch {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  border-radius: 32px;
}

.inputSearch input {
  font-size: 0.8rem;
  color: var(--text-color);
  border: none;
  background-color: #cbcbcb;
  display: flex;
  padding: 1rem;
  width: 25rem;
  box-shadow: inset 2px 2px 15px rgba(0, 0, 0, 0.6);
}

.userMenuWrapper {
  display: flex;
  text-align: center;
  margin-right: 1rem;
  width: 25rem;
  justify-content: space-between;
}

.userIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.userCircle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #e8d8a0;
  padding: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #c4ab5b;
}

.icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.userName {
  margin-top: 5px;
  font-family: 'Itim', serif;
  font-size: 16px;
  color: #e8d8a0;
}

.userDropdown {
  position: absolute;
  top: 90px;
  right: 0px;
  margin-right: 35px;
  background: radial-gradient(circle, #c4ab5b 0%, #d0bf67 34%, #d2c675 79%, #e8d8a0 100%);
  border-radius: 12px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background: radial-gradient(circle, #c4ab5b 0%, #d0bf67 34%, #d2c675 79%, #e8d8a0 100%);
  box-shadow:
    4px 4px 8px rgba(0, 0, 0, 0.6),
    inset -4px -4px 8px rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.userDropdown button {
  font-family: 'Itim', serif;
  background: none;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  color: black;
  font-size: 16px;
  text-align: left;
}

.userDropdown button:hover {
  text-decoration: underline;
}

.activeLink {
  text-decoration: underline !important;
  font-weight: bold;
}

.activeFilter {
  border: 2px solid #d4af37;
  background-color: rgba(255, 215, 0, 0.2);
  border-radius: 8px;
}
