.genreSelectorContainer {
    position: relative;
    display: inline-block;
    font-family: 'Itim', sans-serif;
    display: flex;
    justify-content: center;
  }
  
  .dropdownButton {
    display: flex;
    justify-content: center;
    background: radial-gradient(circle, #c4ab5b 0%, #D0BF67 34%, #D2C675 79%, #e8d8a0 100%);
    border: none;
    color: black;
    padding: 10px ;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 32px;
    font-family: 'Itim', serif;
    margin-bottom: 20px;
    align-items: center;
    min-width: 11rem;
    box-shadow: 
        4px 4px 8px rgba(0, 0, 0, 0.6),  /* Drop shadow */
        inset -4px -4px 8px rgba(0, 0, 0, 0.6); /* Inner shadow */
  }
  
  .dropdownButton:hover {
    background-color: #d0bf67;
  }
  
  .dropdownMenu {
    position: absolute;
    background-image: url('../../images/backround.png');
    color: #e8d8a0;
    border: 2px solid #e8d8a0;
    border-radius: 0 0 20px 20px;
    padding: 15px;
    z-index: 1000;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    width: 600px;
  }
  
  .genreList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .genreItem {
    width: 30%; /* Ajuste la largeur pour uniformiser la disposition */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  
  .genreItem label {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px; /* Espace entre la case à cocher et le texte */
    font-size: 16px;
    color: #e8d8a0;
  }
  
  .genreItem input[type='checkbox'] {
    width: 18px;
    height: 18px;
    cursor: pointer;
    accent-color: #e8d8a0;
    border-radius: 4px;
  }
  
  
  .applyButton {
    display: flex;
    justify-content: center;
    background: radial-gradient(circle, #c4ab5b 0%, #D0BF67 34%, #D2C675 79%, #e8d8a0 100%);
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 32px;
    font-family: 'Itim', serif;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-inline: auto;
    width: 11rem;
    align-items: center;
    box-shadow: 
      4px 4px 8px rgba(0, 0, 0, 0.6),  /* Drop shadow */
      inset -4px -4px 8px rgba(0, 0, 0, 0.6); /* Inner shadow */
  }
  
  .applyButton:hover:not(:disabled) {
    background-color: #e8d8a0;
  }
  
  .applyButton:disabled {
    background: radial-gradient(circle, #737373 0%, #959595 40%, #A8A8A8 59%, #B9B9B9 78%, #D9D9D9 100%);
    cursor: not-allowed;
  }

  .genreList {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de revenir à la ligne */
    justify-content: space-between; /* Espacement entre les éléments */
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .genreItem {
    width: 25%; /* Ajuste la largeur pour permettre le retour à la ligne */
    margin: 5px 0; /* Espace vertical entre les éléments */
    white-space: normal; /* Corrige le comportement du texte */
  }

  .genreItem input[type='checkbox'] {
    width: 15px;
    margin-right: 10px;
    cursor: pointer;
    accent-color: #e8d8a0;
  }
  
  /* Ajoutez un sélecteur parent pour augmenter la spécificité */
.genreSelectorContainer .genreItem label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
  }
  
  