.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-image: url('../../images/backround.webp');
  background-color: #271f34;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  color: white;
  border-top: 4px solid black;
  text-shadow:
    #e8d8a0 0px 0px 5px,
    #e8d8a0 0px 0px 15px;
}

.MapBlock {
  display: flex;
  margin-block: 16px;
  align-items: center;
}

.MapBlock a {
  color: #e8d8a0;
}

.MapBlock img {
  margin-right: 16px;
  width: 40px;
}
