.modalBackground {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.444);
  color: #d0bf67;
}

.notification {
  width: 40%;
  margin-top: 30px;
  box-sizing: border-box;
}

.notification.errorMessage {
  background-color: rgba(255, 0, 15, 0.24);
  border-color: #d70000;
}

.notification p {
  box-sizing: border-box;
  width: 100%;
  padding: 20px 50px;
  background-color: #f9f3ee;
  border: solid 2px #d9a963;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('../../images/backround.png');
  width: 35%;
  margin: auto;
  padding: 50px;
  align-items: center;
  border-radius: 30px;
  border: 4px solid #d0bf67;
  box-shadow: 2px 8px 10px rgb(62, 61, 61);
}

.modalContent h2 {
  padding-bottom: 10%;
  color: #d0bf67;
}

.modalContent label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 5%;
}

.modalContent input {
  height: 42px;
  width: 56%;
  font-size: 16px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  border-color: #d0bf67;
  padding-inline: 2%;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.validateButton,
.cancelButton {
  display: flex;
  justify-content: center;
  background: radial-gradient(circle, #c4ab5b 0%, #d0bf67 34%, #d2c675 79%, #e8d8a0 100%);
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 32px;
  font-family: 'Itim', serif;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 11rem;
  align-items: center;
  box-shadow:
    4px 4px 8px rgba(0, 0, 0, 0.6),
    inset -4px -4px 8px rgba(0, 0, 0, 0.6);
}

.cancelButton {
  background: radial-gradient(
    circle,
    #737373 0%,
    #959595 40%,
    #a8a8a8 59%,
    #b9b9b9 78%,
    #d9d9d9 100%
  );
}
