.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-image: url('../../images/backround.jpg');
  border-radius: 30px;
  padding: 25px;
  width: 60%;
  color: #d0bf67;
  border: 4px solid #d0bf67;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Itim', serif;
  max-height: 90vh;
  overflow-y: auto;
}

.commentBlock {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #d0bf67;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 20px;
  width: 95%;
  color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.commentHeader {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #d0bf67;
}

.date {
  font-size: 14px;
  color: #ccc;
}

.commentText {
  font-style: italic;
  margin: 10px 0;
  color: #f5f5f5;
}

.stars {
  margin-bottom: 10px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.deleteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  font-size: 18px;
  font-family: 'Itim', serif;
  border: none;
  border-radius: 25px;
  background: radial-gradient(circle, #ca5d1d 0%, #d07b44 74%, #d4936a 89%, #e8b894 100%);
  box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.3);
  color: black;
  cursor: pointer;
  box-shadow:
    4px 4px 8px rgba(0, 0, 0, 0.6),
    inset -4px -4px 8px rgba(0, 0, 0, 0.6);
}

.deleteBtn:hover {
  background: radial-gradient(circle, #ff4c4c 0%, #d70000 100%);
}

.closeBtn {
  margin-top: 20px;
  background: radial-gradient(
    circle,
    #737373 0%,
    #959595 40%,
    #a8a8a8 59%,
    #b9b9b9 78%,
    #d9d9d9 100%
  );
  color: black;
  border: none;
  padding: 10px 25px;
  font-size: 16px;
  border-radius: 32px;
  font-family: 'Itim', serif;
  box-shadow:
    4px 4px 8px rgba(0, 0, 0, 0.6),
    inset -4px -4px 8px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
